* {
  font-size: 18px;
}

.masthead {
  height: auto;
  min-height: 300px;
  background-image: url("https://www.xmple.com/wallpaper/gradient-blue-white-linear-2736x1824-c2-ffffff-add8e6-a-90-f-14.svg");
  background-size: cover;
  padding: 100px 30px 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}
.myDiv {
  width: 320px;
  margin: auto;
  border: 5px outset lightblue;
  background-color: white;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #e0eeee;
  color: black;
  padding: 15px 20px 0px 20px;
  text-align: left;
  border-top: 1px solid darkgrey;
}

.contact {
  width: 100%;
}

.contact td {
  width: 50%;
  padding: 10px;
  margin: 20px 30px;
  font-size: 22px;
}

.rFwNh {
  min-height: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  -webkit-box-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  align-items: initial;
  padding: 1rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
}

.bbtMLp {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}

.jqrPXB {
  display: block;
  max-width: 100%;
  overflow: scroll hidden;
}

.rFwNh > * + * {
  margin-top: 8px;
}

.bMCrQc {
  margin-top: 1rem;
  border-spacing: 0px;
  border: none;
}

.bMCrQc .th {
  border-bottom: 1px solid rgb(204, 204, 204);
}
.bMCrQc .th,
.bMCrQc .td {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 0px;
  padding: 1rem;
  border-top: 1px solid rgb(204, 204, 204);
  text-align: left;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.ifFPnx {
  color: rgb(71, 71, 71);
}
.uYzkI .th {
  display: inline-block;
  font-weight: bold;
}
.bMCrQc {
  margin-top: 1rem;
  border-spacing: 0px;
  border: none;
}

element.style {
  display: flex;
  flex: 1 0 auto;
  min-width: 0px;
  position: absolute;
  left: 0px;
  top: 7200px;
  height: 50px;
  width: 100%;
}

.bMCrQc .tr.depth_0 {
  cursor: pointer;
  background: rgb(255, 255, 255);
}
.dvgelv {
  min-height: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  -webkit-box-pack: initial;
  justify-content: initial;
  -webkit-box-align: center;
  align-items: center;
}

.dvgelv span {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px;
}

.gMpGZl {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}
div {
  display: block;
}

.table th{
  background: lightblue;
}
